.edit_doc_textarea {
  width: 100%;
  min-height: 500px;
  font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
.doc_preview {
  box-shadow :none;
  background: none;
  border-color: white;

}
.tag {
  float: left;
  margin-right: 5px;
  padding: 0 5px;
  background: #BABABA;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.new-tag {
  background: transparent;
  border: 1px dashed #999;
  color: #999;
}
.new-tag:hover {
  background: #DDD;
  color: white;
}
#edittag-input {
  margin:0;
  padding:0;
  width:95%;
}
.tag.edittag {
  width:70px
}
