.edit_doc_textarea {
  width: 100%;
  min-height: 500px;
  font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
.doc_preview {
  box-shadow:none;
  background:none;
  border-color:white;

}
.article-list .icon-remove {
  visibility:hidden;
  cursor:pointer;
}
.article-list tr:hover .icon-remove {
  visibility:visible;
}
